---
import penguins from "../../assets/penguins.json";
import weather from "../../assets/weather.json";
import Layout from "../../layouts/Layout.astro";
const speciesList = [...new Set(penguins.map((p) => p.species))].sort();
const stations = [...new Set(weather.map((d) => d.location))].sort();
---

<Layout title="Rendu statique">
    <h3>Espèces disponibles</h3>
    <ul>
        {
            speciesList.map((s) => (
                <li>
                    <a href={`/rendu-statique/${s}`}>{s}</a>
                </li>
            ))
        }
    </ul>
    <h3 class="mt-6">Stations météo disponibles</h3>
    <ul>
        {
            stations.map((w) => (
                <li>
                    <a href={`/rendu-statique/${w}`}>{w}</a>
                </li>
            ))
        }
    </ul>
</Layout>
